.homePageContentSection
  min-height: 100vh
  position: relative
  background-size: cover
  background-position: 50% 50%
  &--wDarkMask
    &::before
      content: ""
      display: block
      position: absolute
      +resetForAbsoluteCentering()
      background: $blackTop2BottomGradient
      z-index: 1
.homePageContentSection
  position: relative
  .scrollToNext
    position: absolute
    z-index: 3
    display: block
    width: 28px
    height: 15px
    margin: 0px auto
    bottom: 40px
    left: 0
    right: 0
  &__content
    position: relative
    z-index: 2
    padding-top: 150px
    padding-bottom: 120px
    text-align: center
  &__title
    +font($main_400, 46px, 48px, $white, normal, none, none)
    max-width: 300px
    width: 100%
    margin: 0px auto 40px
  &__description
    +font($main_400, 23px, 31px, $white, normal, none, none)
    max-width: 300px
    width: 100%
    margin: 0px auto
    p
      margin-bottom: 31px
    em, i
      font-family: $main_400_italic
  &__cta
    padding-top: 50px
    margin-left: -5px
    margin-right: -5px
    .button
      margin: 0px 5px 20px
.homePageContentSection--brownFont
  &::before
    display: none
  .homePageContentSection__title,
  .homePageContentSection__description
    color: $brown-4
.homePageContentSection__pattern
  position: absolute
  width: 100%
  height: 100%
  +resetForAbsoluteCentering()
  background-repeat: no-repeat
  background-size: 100% auto
  &--top
    background-position: 0 0
  &--bottom
    background-position: 0 100%
.testimonials
  background: $white
  color: $brown-4
  text-align: center
  padding-top: 150px
  padding-bottom: 70px
  min-height: 100vh
  &__item
    +font($crimmson, 23px, 35px, $brown-4, normal, none, none)
    font-weight: 400
    letter-spacing: -0.46px
    padding-top: 20px
    strong
      font-weight: 700
    &__text
      max-width: 290px
      width: 100%
      margin: 0px auto 60px
      background: url('/images-theme/quote-testimonials.svg') no-repeat
      padding: 20px
    &__author
      font-weight: 700
      font-size: 24px
  .homePageContentSection__title
    color: $brown-4
.fp-scroller
  width: 100vw
  display: flex
  flex-flow: row wrap
.fp-scrollable
  margin-bottom: -100vh
.iScrollIndicator
  display: none !important
