.testimonialsWrapper .siteHeader__logo
  display: none !important
.testimonialsPage
  background: $blue
  &__title
    +font($main_400, 38px, 48px, $white, normal, none, none)
    text-align: center
    margin-bottom: 70px
  &__list
    padding-top: 128px
    padding-bottom: 20px
    width: 100%
  &__item
    text-align: center
    margin-bottom: 50px
    &__title
      +font($crimmson, 28px, 48px, $white, normal, none, none)
      font-weight: 400
      position: relative
      &::after
        content: ""
        display: block
        width: 100%
        max-width: 158px
        height: 1px
        background-color: $yellow
        margin: 25px auto 30px
    &__quote
      +font($crimmson, 17px, 28px, $white, normal, none, none)
      letter-spacing: 0.34px
      margin-bottom: 32px
      strong
        font-weight: normal
.testimonials .homePageContentSection__title
  margin-bottom: 20px
#testimonialSlider .slick-next,
#testimonialSlider .slick-prev
  display: block
@keyframes pulsea
  0%, 80%, 100%
    text-shadow: 0pt 0px 0px rgba(159, 140, 91, 0), 10pt 0px 0px rgba(159, 140, 91, 0), 20pt 0px 0px rgba(159, 140, 91, 0)

  10%
    text-shadow: 0pt 0px 0px rgba(159, 140, 91, 0.5), 10pt 0px 0px rgba(159, 140, 91, 0), 20pt 0px 0px rgba(159, 140, 91, 0)

  20%
    text-shadow: 0pt 0px 0px rgba(159, 140, 91, 1), 10pt 0px 0px rgba(159, 140, 91, 0), 20pt 0px 0px rgba(159, 140, 91, 0)

  30%
    text-shadow: 0pt 0px 0px rgba(159, 140, 91, 0.5), 10pt 0px 0px rgba(159, 140, 91, 0.5), 20pt 0px 0px rgba(159, 140, 91, 0)

  40%
    text-shadow: 0pt 0px 0px rgba(159, 140, 91, 0), 10pt 0px 0px rgba(159, 140, 91, 1), 20pt 0px 0px rgba(159, 140, 91, 0)

  50%
    text-shadow: 0pt 0px 0px rgba(159, 140, 91, 0), 10pt 0px 0px rgba(159, 140, 91, 0.5), 20pt 0px 0px rgba(159, 140, 91, 0.5)

  60%
    text-shadow: 0pt 0px 0px rgba(159, 140, 91, 0), 10pt 0px 0px rgba(159, 140, 91, 0), 20pt 0px 0px rgba(159, 140, 91, 1)

  70%
    text-shadow: 0pt 0px 0px rgba(159, 140, 91, 0), 10pt 0px 0px rgba(159, 140, 91, 0), 20pt 0px 0px rgba(159, 140, 91, 0.5)
.scrollme
  padding-top: 50px
.scrollme::after
  animation: pulsea 2s linear infinite
  font-size: 20pt
  color: transparent
  font-family: FontAwesome
  content: ">"
  color: $brown
  text-shadow: 0pt 0px 0px rgba(159, 140, 91, 1), 10pt 0px 0px rgba(159, 140, 91, 1), 20pt 0px 0px rgba(159, 140, 91, 1)

@media screen and (max-width: 640px)
  #testimonialSlider .slick-next, #testimonialSlider .slick-prev
    top: 110%
  #testimonialSlider .slick-next, #testimonialSlider .slick-prev
    background-size: 66px
  #testimonialSlider .slick-prev
    transform: rotate(180deg)
    left: 33%
    width: 45px
    height: 45px
  #testimonialSlider .slick-next
    right: 33%
    width: 45px
    height: 45px  
  .testimonials__item__text
    padding: 0 
  .scrollme
    opacity: 0 !important   
