// Change text color
.textColor
  &--cream *
    color: $gl-cream !important
  &--yellow *
    color: $gl-yellow !important
    fill: $gl-yellow !important
  &--brown *
    color: $gl-brown !important
  &--brown--dark *
    color: $brown-4 !important
  &--orange *
    color: $gl-orange !important
  &--blue *
    color: $gl-blue !important
  &--darkGray *
    color: $gl-dark-gray !important
.button
  &--brown
    color: $brown-4 !important
    &:hover
      color: $white !important
      background: $brown-4
    &.button--bordered
      border-color: $brown-4
  &--white
    color: $white !important
    &:hover
      color: $brown-4 !important
    &.button--bordered
      border-color: $white
      &:hover
        border-color: $white
.sendRequest__submit
  +transition(.3s, linear)
  border: 2px solid $orange
  &:hover
    background: $white
    border-color: $brown-4
    color: $brown-4
.closeAfterSending:hover
  color: $white !important
.contentPage__item__tagline
  *
    color: $orange !important
  &--lightBrown
    p
      color: $gl-brown !important
  &--orange
    p
      color: $orange !important
  &--cream
    p
      color: $white !important
