// Change text color
.textColor
  &--cream *
    color: $gl-cream !important
  &--yellow *
    color: $gl-yellow !important
  &--brown *
    color: $gl-brown !important
  &--brown--dark *
    color: $brown-4 !important
  &--orange *
    color: $gl-orange !important
  &--blue *
    color: $gl-blue !important
  &--darkGray *
    color: $gl-dark-gray !important
