.sitePopup
  position: fixed
  z-index: 500
  height: 100vh
  width: 100vw
  overflow-x: auto
  background: $white
  opacity: 0
  overflow: hidden
  animation: hideMenu .4s ease-out forwards
  &.active
    overflow-y: scroll
    top: 0px
    animation: showMenu .3s ease-out forwards
.sitePopup
  &__header
    width: 100%
    display: flex
    justify-content: flex-end
    padding-top: 55px
    position: relative
    z-index: 20
  &__close
    width: 18px
    height: 18px
    position: relative
    cursor: pointer
    &::after,
    &::before
      content: ""
      display: block
      position: absolute
      width: 18px
      height: 2px
      background: $brown-2
      top: 8px
      left: 0px
    &::before
      transform: rotate(45deg)
    &::after
      transform: rotate(-45deg)
@keyframes showPopup
  0%
    opacity: 0
  25%
    opacity: .5
  80%
    opacity: .95
  100%
    opacity: 1
.sitePopup
  &__content
    padding-top: 40px
    padding-bottom: 80px
    &__title
      text-align: center
      +font($main_400, 38px, 39px, $brown-4, normal, none, none)
      margin-bottom: 35px
    &__subTitle
      +font($main_400_italic, 23px, 30px, $brown-4, normal, none, none)
    &__description
      text-align: center
      letter-spacing: 0.36px
      +font($main_300, 20px, 27px, $brown-4, normal, none, none)
      margin-bottom: 60px
.sendRequest
  &__input
    display: block
    width: 100%
    box-sizing: border-box
    background: transparent
    +font($main_400, 18px, initial, $brown-4, normal, none, none)
    border: 1px solid $brown-4
    border-radius: 4px
    padding: 10px 18px 9px
    margin-bottom: 10px
    &.error
      border-color: red
  label.error
    display: none !important
    position: absolute
    +font($main_400, 14px, 12px, red, normal, none, none)
    background: $white
    border-radius: 5px
    box-shadow: 2px 2px 5px rgba(0,0,0,.5)
    padding: 2px 5px
    z-index: 10
  input::-webkit-input-placeholder
    +font($main_400, 18px, 18px, $brown-4, normal, none, none)
    opacity: 0.5
  select
    background: transparent url('/images-theme/select-drop-arrow.svg') no-repeat calc(100% - 15px) 50%
    padding-right: 35px
    -webkit-appearance: none
    -moz-appearance: none
    cursor: pointer
    color: rgba(67, 52, 7, .5)
    &:valid
      color: rgba(67, 52, 7, 1)
  textarea
    min-height: 85px
    resize: none
    line-height: 22px !important
.sendRequest__radio
  position: relative
  +font($main_400, 18px, 18px, $brown-4, normal, none, none)
  margin-bottom: 33px
  padding-top: 10px
  width: 100%
  input[type=checkbox]
    width: 100%
    display: block
    position: absolute
    height: 100%
    opacity: 0
    cursor: pointer
    z-index: 2
  label
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center
    div
      width: 52px
      height: 28px
      background-color: $brown-3
      box-shadow: inset 1px 1px 0 #6f6858
      border-radius: 14px
      position: relative
      +transition(300ms, linear)
      &::after
        content: ""
        display: block
        position: absolute
        left: 3px
        top: 3px
        width: 22px
        height: 22px
        box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15), 1px 1px 0 #6f6858
        background-color: $white
        border-radius: 23px
        +transition(150ms, linear)
  input[type=checkbox]
    &:checked + label
        div
          background-color: $orange
          &::after
            left: calc(100% - 25px)
.sendRequest__submit
  width: 100%
  background: $orange
  box-sizing: border-box
  +font($main_400, 16px, 16px, $white, normal, none, uppercase)
  letter-spacing: 2.08px
  border: 0px
  padding: 16px 20px
  border-radius: 24px
  margin-bottom: 18px
.sendRequest__copyright
  text-align: center
  +font($main_300, 15px, 16px, $brown-4, normal, none, none)
  margin-bottom: 20px
  a
    +font($main_300, 15px, 16px, $brown-4, normal, underline, none)
.sitePopup__content__thankU
  text-align: center
  align-items: center
  justify-content: center
  align-content: center
  flex-flow: row wrap
  box-sizing: border-box
  height: calc(100vh - 200px)
  display: none
  position: absolute
  margin: auto
  max-width: 600px
  width: 100%
  left: 0px
  right: 0px
  top: 15vh
  opacity: 0
  +transition(300ms, linear)
  &.active
    display: flex
    animation: showPopup .6s ease-out forwards
    animation-delay: 500ms
  p
    display: block
    width: 100%
  .sitePopup__content__subTitle
    margin-bottom: 85px
.formSending
  text-align: center
  display: none
  position: absolute
  left: 0
  right: 0
  top: 20vh
  animation: load8 1.2s infinite linear
@keyframes load8
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
.closePopup
  cursor: pointer
