{{$siteFooter := .Site.Params.footer}}
<div class="container--fluid lightMenu siteFooter">
  <div class="container">
    <a href="/" class="siteFooter__logo">
      <img src="/images-theme/logo.svg" alt=""></a>
    <div class="siteFooter__container">
      <div class="siteFooter__contactInformation">
        <div class="siteFooter__contactInformation__text vcard">
          {{with $siteFooter.adsress}}
            <p  class="org adr">{{.}}</p>
          {{end}}
          <div class="siteFooter__contactInformation__links">
            {{with $siteFooter.mailto}}
              <a class="email" href="mailto:{{.}}">{{.}}</a>
            {{end}}
            {{with $siteFooter.phonenumber}}
              <a class="tel" href="tel:{{.}}">{{.}}</a>
            {{end}}
          </div>
        </div>
        {{with $siteFooter.buttons}}
          <div class="siteFooter__cta">
            {{range .}}
              <a href="{{.url}}" class="button {{range .setting}} {{.class}} {{end}}">
                {{.title}}
              </a>
            {{end}}
          </div>
        {{end}}
      </div>
      <div class="siteFooter__copyright">
        {{with $siteFooter.links}}
          <div class="siteFooter__menu">
            <ul>
              {{range .}}
              <li><a href="{{.url}}">{{.title}}</a></li>
              {{end}}
            </ul>
          </div>
        {{end}}
        <div class="siteFooter__copyright__text">
          {{with $siteFooter.copyright}}
            {{. | markdownify}}
          {{end}}
        </div>
      </div>
    </div>
  </div>
</div>
