<div class="container siteFooter">
  <div class="siteFooter__contactInformation">
    <div class="siteFooter__contactInformation__text">
      <p>Colts Lodge Fair Lane, Postwick Norfolk, NR13 5FT</p>
    </div>
    <div class="siteFooter__contactInformation__links">
      <a href="mailto:weddings@hushvenues.com">weddings@hushvenues.com</a>
      <a href="tel:01603 340717">01603 340717</a>
    </div>
    <div class="siteFooter__cta">
      <a href="#" class="button button--white button--bordered">More</a>
    </div>
  </div>
  <div class="siteFooter__copyright">
    <div class="siteFooter__menu">
      <ul>
        <li><a href="">Login</a></li>
        <li><a href="">Home</a></li>
      </ul>
    </div>
    <p>Copyright © 2017. All Rights Reserved</p>
    <p><a href="#">Privacy Policy</a></p>
  </div>
</div>
