{{$siteFooter := .Site.Params.footer}}
<div class="container--fluid siteFooter">
  <div class="siteFooter__contactInformation">
    <div class="siteFooter__contactInformation__text">
      {{with $siteFooter.adsress}}
        <p>{{.}}</p>
      {{end}}
    </div>
    <div class="siteFooter__contactInformation__links">
      {{with $siteFooter.mailto}}
        <a href="mailto:{{.}}">{{.}}</a>
      {{end}}
      {{with $siteFooter.phonenumber}}
        <a href="tel:{{.}}">{{.}}</a>
      {{end}}
    </div>
    {{with $siteFooter.buttons}}
      <div class="siteFooter__cta">
        {{range .}}
          <a href="{{.url}}" class="button button--white button--bordered">
            {{.title}}
          </a>
        {{end}}
      </div>
    {{end}}
  </div>
  <div class="siteFooter__copyright">
    {{with $siteFooter.links}}
      <div class="siteFooter__menu">
        <ul>
          {{range .}}
          <li><a href="{{.url}}">{{.title}}</a></li>
          {{end}}
        </ul>
      </div>
    {{end}}
    {{with $siteFooter.copyright}}
      {{. | markdownify}}
    {{end}}
  </div>
</div>
