{{$findUs := .Params.settings}}
{{$siteFooter := .Site.Params.footer}}
<div class="findUsPage darkMenu" id="findUsPage">
  <div class="container findUsPage__title pinHeader">
    <h1>{{$findUs.title}}</h1>
  </div>
  <div class="findUsPage__contactInformation vcard">
    <div class="findUsPage__contactInformation__text">
      {{with $siteFooter.adsress}}
        <p class="org adr">{{.}}</p>
      {{end}}
    </div>
    <div class="findUsPage__contactInformation__links">
      {{with $siteFooter.mailto}}
        <a class="email" href="mailto:{{.}}">{{.}}</a>
      {{end}}
      {{with $siteFooter.phonenumber}}
        <a class="tel" href="tel:{{.}}">{{.}}</a>
      {{end}}
    </div>
  </div>
  <div class="findUsPage__socialNetworks">
    <ul>
      {{with $findUs.facebooklink}}
      <li><a href="{{.}}" target="_blank"><img src="/images-theme/facebook.svg" alt="facebook"></a></li>
      {{end}}
      {{with $findUs.instagramlink}}
      <li><a href="{{.}}" target="_blank"><img src="/images-theme/instagram.svg" alt="instagram"></a></li>
      {{end}}
      {{with $findUs.pinterestlink}}
      <li><a href="{{.}}" target="_blank"><img src="/images-theme/pinterest.svg" alt="pinterest"></a></li>
      {{end}}
    </ul>
  </div>
  <div class="findUsPage__additionalDescription">
    {{with $findUs.description}}
    <p>{{.}}</p>
    {{end}}
  </div>
  {{with $findUs.googledirectionslink}}
    <a href="{{.}}" class="findUsPage__googleDirection">
      {{$findUs.googledirectionstext}}
    </a>
  {{end}}
  <div class="findUsPage__map">
    {{with $findUs.mappicturedesktop}}
      <div class="container">
        <img src="{{.url}}{{if .alt}}{{.alt}}{{else}}?auto=compress{{end}}" {{if .title}}alt="{{.title}}"{{end}} class="visible--lg">
      </div>
    {{end}}
    {{with $findUs.mappicturemobile}}
      <img src="{{.url}}{{if .alt}}{{.alt}}{{else}}?auto=compress{{end}}" {{if .title}}alt="{{.title}}"{{end}} class="hidden--lg">
    {{end}}
  </div>
</div>
