{{range $key, $value := .Params.homepagesections}}
  {{if .backgroundimagemobile}}
    <div class="section" id="{{.sectionid}}">
    {{if .backgroundimagemobile}}
      <style>
        #{{.sectionid}} {
          background-image: url('{{.backgroundimagemobile.url}}{{if .alt}}{{.alt}}{{else}}?auto=compress{{end}}');
        }
      </style>
    {{end}}
    {{if .backgroundimagedesktop}}
      <style>
        @media screen and (min-width : 640px) {
          #{{.sectionid}} {
            background-image: url('{{.backgroundimagedesktop.url}}{{if .alt}}{{.alt}}{{else}}?auto=compress{{end}}');
          }
        }
      </style>
    {{end}}
    <div class="container--fluid homePageContentSection
      {{if .visualpreferences}}{{range .visualpreferences}}{{.class}} {{end}}{{end}}">
      <div class="homePageContentSection__content hideLogo">
        {{with .title}}
          <div class="homePageContentSection__title animate" data-animation="fadeInUp">
            <h2>{{.}}</h2>
          </div>
        {{end}}
        {{with .description}}
        <div class="homePageContentSection__description animate" data-animation="fadeInDown">
          {{. | markdownify}}
        </div>
        {{end}}
        {{if .buttons}}
        <div class="homePageContentSection__cta animate" data-animation="fadeInDown">
          {{range .buttons}}
            <a href="{{.url}}" class="button {{range .setting}} {{.class}} {{end}}">{{.title}}</a>
          {{end}}
        </div>
        {{end}}
      </div>
      {{if .nextsectionid}}
        <div class="scrollToNext buttonToAnchor animate" data-animation="fadeInDown" data-href="{{.nextsectionid}}"
          onclick="scrollToNext({{add $key 3}})">
          <img src="/images-theme/scrollToNext.svg" alt="">
        </div>
      {{end}}
    </div>
    </div>
  {{end}}
{{end}}
