<div class="container--fluid homePageContentSection
  {{if .visualpreferences}}{{range .visualpreferences}}{{.class}} {{end}}{{end}}"
  id="the-vibe" style="background-color: {{.backgroundcolor.hex}}">
  {{if .colorbackgroundtoppattern}}
  <div class="homePageContentSection__pattern homePageContentSection__pattern--top"
    style="background-image: url('{{.colorbackgroundtoppattern.url}}?auto=compress')"></div>
  {{end}}
  {{if .colorbackgroundbottompattern}}
  <div class="homePageContentSection__pattern homePageContentSection__pattern--bottom"
    style="background-image: url('{{.colorbackgroundbottompattern.url}}?auto=compress')"></div>
  {{end}}
    <div class="homePageContentSection__content hideLogo">
      {{with .title}}
        <div class="homePageContentSection__title animate" data-animation="fadeIn">
          <h2>{{.}}</h2>
        </div>
      {{end}}
      {{with .description}}
      <div class="homePageContentSection__description animate" data-animation="fadeIn">
        {{. | markdownify}}
      </div>
      {{end}}
      {{if .buttons}}
      <div class="homePageContentSection__cta animate" data-animation="fadeIn">
        {{range .buttons}}
          <a href="{{.url}}" class="button {{range .setting}} {{.class}} {{end}}">{{.title}}</a>
        {{end}}
      </div>
      {{end}}
    </div>
</div>
