{{partial "modules/site_header/markup" .}}
<div id="fullPage">
<div class="section active">
  {{partial "modules/home_page/header_section/markup" .}}
</div>
  {{range .Params.homepagesections}}
    {{if .backgroundimagemobile}}
    <div class="section">
      {{partial "modules/home_page/content-section/w-background-image" .}}
    </div>
    {{end}}
  {{end}}
<div class="section section__innerHalfs">
  {{range .Params.homepagesections}}
    {{if .backgroundimagemobile}}{{else}}
      {{partial "modules/home_page/content-section/w-background-solid-color" .}}
    {{end}}
  {{end}}
  {{partial "modules/home_page/content-section/testimonials" .}}
  {{partial "modules/footer/markup" .}}
</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/vendors/scrolloverflow.min.js"></script>
<script type="text/javascript" src="/js/jquery.fullpage.min.js"></script>
<script type="text/javascript">
  $('#fullPage').fullpage({
    scrollOverflow:true
  });
</script>
