{{partial "modules/site_header/markup" .}}
<div id="fullPage">
  {{partial "modules/home_page/header_section/markup" .}}
  {{partial "modules/home_page/content-section/w-background-image" .}}
<div class="section section__innerHalfs">
  {{range .Params.homepagesections}}
    {{if .backgroundimagemobile}}{{else}}
      {{partial "modules/home_page/content-section/w-background-solid-color" .}}
    {{end}}
  {{end}}
  {{partial "modules/home_page/content-section/testimonials" .}}
  {{partial "modules/footer/markup" .}}
</div>
</div>

<script type="text/javascript" src="/js/vendors/scrolloverflow.min.js"></script>
<script type="text/javascript" src="/js/jquery.fullpage.min.js"></script>
<script type="text/javascript">
  if(jQuery(window).width() > 1024) {
    $('#fullPage').fullpage({
      scrollOverflow:true,
      lazyLoading: true,
      scrollingSpeed: 400,
      css3: true
    });
  }
  function scrollToNext(number) {
    if(jQuery(window).width() > 1024) {
      $.fn.fullpage.moveTo(number)
    }
  }
</script>
