.siteHeader
  position: fixed
  top: 55px
  right: 0px
  left: 0px
  width: 100%
  box-sizing: border-box
  z-index: 90
  display: flex
  justify-content: flex-end
  &__burgerMenu
    +font($main_400, 16px, 16px, $white, normal, none, uppercase)
    display: block
    width: 100%
    &__button
      display: flex
      width: 100%
      justify-content: flex-end
      align-items: center
      position: relative
      padding-right: 34px
      cursor: pointer
      .stick
        background: $white
        &.open
          background: $brown-1
      +transition(300ms, linear)
      a
        display: none
      i
        +transition(150ms, linear)
      &.fixedTop
        i
          opacity: 0
      &.noLogo
        .siteHeader__burgerMenu__burger:after,
        .siteHeader__burgerMenu__burger:before,
        .siteHeader__burgerMenu__burger .stick
          background: $white
          +transition(300ms, linear)
      &.darkTheme
        color: $brown-1
        .siteHeader__burgerMenu__burger:after,
        .siteHeader__burgerMenu__burger:before,
        .siteHeader__burgerMenu__burger .stick
          background: $brown-1
          +transition(300ms, linear)
      &.lightMenu
        .siteHeader__burgerMenu__burger:after,
        .siteHeader__burgerMenu__burger:before,
        .siteHeader__burgerMenu__burger .stick
          background: $white
          +transition(300ms, linear)
    &__burger
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      width: 80px
      height: 80px
      right: 0px
      position: absolute
      margin-left: 10px
      transform: scale(0.3)
      right: -30px
      top: -33px
.siteHeader__burgerMenu__button.active
  justify-content: space-between
  i
    display: none
  a
    display: block
    +font($main_400, 19px, 19px, $brown-1, normal, none, capitalize)
.siteSidebarMenu
  position: fixed
  height: 100vh
  overflow: hidden
  width: 100%
  background: $white url('/images-theme/burger-menu-background-pattern.png') no-repeat 63% 0%
  z-index: 80
  opacity: 0
  animation: hideMenu .4s ease-out forwards
  &.active
    top: 0
    animation: showMenu .3s ease-out forwards
    overflow-y: scroll
  &__innerLogo
    display: block
    width: 67px
    margin: 0px auto
    img
      width: 67px
  &__inner
    text-align: center
    padding-top: 110px
    ul
      span
        +font($main_400, 14px, 34px, $brown-3, normal, none, uppercase)
      li a
        +font($main_300, 19px, 28px, $brown-1, normal, none, capitalize)
        &.active
          color: $orange
      &::after
        display: block
        content: ""
        width: 150px
        height: 1px
        background-image: $sidebarMenuDevideLineGradient
        opacity: 0.3
        margin: 15px auto 10px
    ul:last-of-type
      margin-bottom: 40px
      &::after
        display: none
.siteHeader__logo
  width: 101px
  position: absolute
  margin: 0px auto
  left: 0px
  right: 0px
  opacity: 0.5
  transform: scale(0)
  z-index: 10
  +transition(300ms, linear)
  img
    width: 100%
  .dark
    display: none
  &.fixedTop
    transform: scale(1)
    opacity: 1
  &.hiddenLogo
    opacity: 0
.darkTheme.siteHeader__logo
  img
    display: none
  .dark
    display: block
@keyframes showMenu
  0%
    opacity: 0
  80%
    opacity: .95
  100%
    opacity: 1
@keyframes hideMenu
  0%
    opacity: 1
    top: 0
  70%
    opacity: .95
    top: 0
  80%
    top: 0
    opacity: 0
  100%
    top: -10000vh
.stick
  width: 80px
  height: 8px
  border-radius: 4px
  margin-bottom: 15px
  display: inline-block
  &:last-child
    margin-bottom: 0px
.stick-1.open
  animation: stick-1-open .6s ease-out forwards
.stick-2.open
  animation: stick-2-open .6s linear forwards
.stick-3.open
  animation: stick-3-open .6s linear forwards
@keyframes stick-1-open
  0%
    width: 80px
  40%
    width: 8px
    transform: translate(40px, 0px)
  75%, 80%
    width: 8px
    transform: translate(40px, -50px)
    animation-timing-function: cubic-bezier(0, 1, 1, 1)
  100%
    width: 8px
    transform: translate(35px, 46px)
@keyframes stick-2-open
  80%
    transform: translate(0px, 0px) rotate(0deg)
  100%
    transform: translate(8px, 0px) rotate(40deg)
@keyframes stick-3-open
  80%
    transform: translate(0px, 0px) rotate(0deg)
  100%
    transform: translate(8px, -23px) rotate(-40deg)
.stick-1.close
  width: 8px
  transform: translate(27px, 26px)
  animation: stick-1-close .6s ease-out forwards
.stick-2.close
  transform: translate(0px, 0px) rotate(40deg)
  animation: stick-2-close .6s ease-out forwards
.stick-3.close
  transform: translate(0px, -23px) rotate(-40deg)
  animation: stick-3-close .6s ease-out forwards
@keyframes stick-1-close
  0%, 70%
    width: 0px
  100%
    width: 80px
    transform: translate(0, 0)
@keyframes stick-2-close
  0%
    width: 80px
  20%
    width: 8px
    transform: translate(0, 0px) rotate(40deg)
  40%
    width: 0px
  65%
    transform: translate(0, -70px)
    animation-timing-function: cubic-bezier(0, 1, 1, 1)
  80%
    width: 0px

  100%
    width: 80px
    transform: translate(0, 0px)
@keyframes stick-3-close
  0%
    width: 80px

  20%
    width: 8px
    transform: translate(0, -23px) rotate(-40deg)
  65%
    transform: translate(0, -93px)
    animation-timing-function: cubic-bezier(0, 1, 1, 1)

  90%
    width: 8px
  100%
    width: 80px
    transform: translate(0, 0px)
