<div class="sitePopup active contactUs">
  <div class="container">
    <div class="sitePopup__header">
      <div class="sitePopup__close">
      </div>
    </div>
    <div class="sitePopup__content">
      <div class="sitePopup__content__title">
        <p>Viewing By Appointment Only</p>
      </div>
      <div class="sitePopup__content__description">
        <p>We would love to see you. Please use the form below, call or write,
          to arrange a viewing or receive a brochure.</p>
      </div>
      <form class="sendRequest" action="/" method="post">
        <input type="text" name="" class="sendRequest__input" value="" placeholder="Your Name">
        <select name="" class="sendRequest__input">
          <option value="" disabled selected hidden>When are you thinking</option>
          <option value="10-15">10-15</option>
          <option value="15-20">15-20</option>
          <option value="20-50">20-50</option>
          <option value="over 50">over 50</option>
        </select>
        <select name="" class="sendRequest__input">
          <option value="" disabled selected hidden>How many people</option>
          <option value="10-15">10-15</option>
          <option value="15-20">15-20</option>
          <option value="20-50">20-50</option>
          <option value="over 50">over 50</option>
        </select>
        <input type="text" name="" class="sendRequest__input" value="" placeholder="Email">
        <div class="sendRequest__radio">
          <input type="checkbox" name="" value="">
          <label for=""><p>Send me a brochure</p>
          <div></div></label>
        </div>
        <textarea name="name" class="sendRequest__input" placeholder="Message"></textarea>
        <div class="sendRequest__radio">
          <input type="checkbox" name="" checked="checked">
          <label <fo>Send me a brochure</fo>r="">p
          <div></div></label>
        </div>
        <button type="submit" name="button" class="sendRequest__submit">OKAY</button>
        <p class="sendRequest__copyright">Your privacy is key. Read our <a href="">privacy policy</a></p>
      </form>
    </div>
  </div>
</div>
