{{partial "modules/site_header/markup" .}}
<div class="pageNotFound" style="background-image: url('/images-theme/not-found-background.jpg')">
  <div class="homeHeader__description">
    <a href="" class="siteLogo"><img src="/images-theme/logo.svg" alt=""></a>
  </div>
  <div class="pageNotFound__content">
    <div class="pageNotFound__content__top">
      <p class="pageNotFound__content__textRegular">
        This page has vanished into the stars.
      </p>
      <p class="pageNotFound__content__textHuge">
        404
      </p>
      <p class="pageNotFound__content__textRegular">
        Page cannot be found
      </p>
    </div>
    <div class="pageNotFound__content__bottom">
      <a href="" class="button button--white button--bordered">TAKE ME HOME</a>
      <div class="siteFooter__copyright">
        <p>Copyright © 2017. All Rights Reserved</p>
        <p><a href="#">Privacy Policy</a></p>
      </div>
    </div>
  </div>
</div>
