{{partial "modules/site_header/markup" .}}
{{$notFound := .Params.settings}}
{{with $notFound.backgroundimagemobile}}
  <style>
    #pageNotFound {
      background-image: url('{{.url}}{{if .alt}}{{.alt}}{{else}}?auto=compress{{end}}');
    }
  </style>
{{end}}
{{with $notFound.backgroundimagedesktop}}
  <style>
    @media screen and (min-width : 640px) {
      #pageNotFound {
        background-image: url('{{.url}}{{if .alt}}{{.alt}}{{else}}?auto=compress{{end}}');
      }
    }
  </style>
{{end}}
<div class="pageNotFound" id="pageNotFound">
  <div class="homeHeader__description">
    <a href="" class="siteLogo"><img src="/images-theme/logo.svg" alt="Hush"></a>
  </div>
  <div class="pageNotFound__content">
    <div class="pageNotFound__content__top">
      {{with $notFound.before404text}}
        <p class="pageNotFound__content__textRegular">
          {{.}}
        </p>
      {{end}}
      {{with $notFound.text404}}
        <p class="pageNotFound__content__textHuge">
          {{.}}
        </p>
      {{end}}
      {{with $notFound.after404text}}
        <p class="pageNotFound__content__textRegular">
          {{.}}
        </p>
      {{end}}
    </div>
    <div class="pageNotFound__content__bottom">
      {{with $notFound.buttontext}}
        <a href="{{$notFound.buttonhref}}" class="button button--white button--bordered">{{.}}</a>
      {{end}}
      <div class="siteFooter__copyright">
        <p>Copyright © 2017. All Rights Reserved</p>
        <p><a href="#">Privacy Policy</a></p>
      </div>
    </div>
  </div>
</div>
