{{$headerSection := .Params.settings}}
{{with $headerSection.headerbackgroundimagemobile}}
  <style>
    .contentPage__header {
      background-image: url('{{.url}}?auto=compress');
    }
  </style>
{{end}}
{{with $headerSection.headerbackgroundimagedesktop}}
  <style>
    @media screen and (min-width : 640px) {
      .contentPage__header {
        background-image: url('{{.url}}?auto=compress');
      }
    }
  </style>
{{end}}
<div class="container--fluid contentPage__header
  {{with $headerSection.visualpreferencesheader}}{{range .}}{{.class}} {{end}}{{end}}">
  <div class="container">
    <div class="contentPage__header__text">
      {{with $headerSection.headertitle}}
      <div class="contentPage__header__title pinHeader">
        <h1>{{.}}</h1>
      </div>
      {{end}}
      {{with $headerSection.headerdescription}}
      <div class="contentPage__header__tagline">
        <p>{{.}}</p>
      </div>
      {{end}}
    </div>
  </div>
</div>
