
{{partial "modules/site_header/markup" .}}
{{if eq .Params.settings.hideheadersectionyn true}}
  {{else}}
  {{partial "modules/content-page/header" .}}
{{end}}
<div class="pageIndex">
{{range .Params.settings.pagebloks}}
  {{if eq .itemType "patternedsection"}}
    {{partial "modules/content-page/section-w-solid-color-and-2-patterns" .}}
  {{end}}
  {{if eq .itemType "presentationsection"}}
    {{partial "modules/content-page/presentation-section" .}}
  {{end}}
  {{if eq .itemType "itemsection"}}
    {{partial "modules/content-page/short-items/markup" .}}
  {{end}}
{{end}}
{{if eq .Params.settings.hidetestimonialsyn true}}
  {{else}}
  {{partial "modules/content-page/testimonials-content" .}}
{{end}}
{{partial "modules/footer/markup" .}}
</div>
