{{partial "modules/site_header/markup" .}}
{{partial "modules/content-page/header" .}}
{{partial "modules/content-page/section-w-solid-color-and-2-patterns" .}}
{{partial "modules/content-page/presentation-section" .}}
{{partial "modules/content-page/short-items/markup" .}}
{{partial "modules/content-page/presentation-section" .}}
{{partial "modules/content-page/section-w-solid-color-and-2-patterns-2" .}}
{{partial "modules/content-page/short-items/markup" .}}
{{partial "modules/footer/markup"}}
