<div class="container contentPage__presentation"
  style="background-image: url('/images-theme/presentation-section-contant-page.jpg')">
  <div class="contentPage__presentation__text">
    <div class="contentPage__presentation__title">
      <p>3 Nights Exclusive Use</p>
    </div>
    <div class="contentPage__presentation__description">
      <p>An experience to savour. Yours and your guest's own woodland world for
        three nights. No need to rush – it's all yours.</p>
    </div>
  </div>
</div>
