<div class="{{if .visualpreferences}}{{range .visualpreferences}}{{.class}} {{end}}{{end}}  animate" data-animation="fadeInUp">
  {{$currentSection := .}}
  {{with $currentSection.backgroundimagemobile}}
    <style>
      #ps__{{$currentSection.id}} {
        background-image: url('{{.url}}{{if .alt}}{{.alt}}{{else}}?auto=compress{{end}}');
      }
    </style>
  {{end}}
  {{with $currentSection.backgroundimagedesktop}}
    <style>
      @media screen and (min-width : 640px) {
        #ps__{{$currentSection.id}} {
          background-image: url('{{.url}}{{if .alt}}{{.alt}}{{else}}?auto=compress{{end}}');
        }
      }
    </style>
  {{end}}
  <div class="container--fluid contentPage__presentation" id="ps__{{.id}}">
    <div class="container">
      <div class="contentPage__presentation__text">
        {{with .title}}
          <div class="contentPage__presentation__title">
            <h2>{{.}}</h2>
          </div>
        {{end}}
        {{with .description}}
        <div class="contentPage__presentation__description">
          <p>{{.}}</p>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</div>
