<div class="container--fluid contentPage__ContentSection
   nopattern-{{.dontshowpattern}}
   contentPage__ContentSection--brownFont yellow--{{.isityellow}}
   {{if .visualpreferences}}{{range .visualpreferences}}{{.class}} {{end}}{{end}}  animate" data-animation="fadeInUp"
   {{if .manualbackground}} style="background: {{.manualbackground.hex}}"{{end}}>
  <div class="container contentPage__ContentSection__content">
    <div class="contentPage__ContentSection__title">
      <h3>{{.title}}</h3>
    </div>
    <div class="contentPage__ContentSection__description">
      <div class="contentPage__ContentSection__description__left">
        {{with .leftcolumn}}
          {{. | markdownify}}
        {{end}}
      </div>
      <div class="contentPage__ContentSection__description__right">
        {{with .rightcolumn}}
          {{. | markdownify}}
        {{end}}
      </div>
      <div class="contentPage__ContentSection__description__full">
        {{with .fullwidthtext}}
          {{. | safeHTML}}
        {{end}}
      </div>
    </div>
  </div>
</div>
