<div class="container--fluid contentPage__ContentSection hideLogoOnThisSection hideLogo
    {{if eq .isityellow true}}lightMenu{{else}}darkMenu{{end}}
   contentPage__ContentSection--brownFont yellow--{{.isityellow}}" id="the-vibe-2">
  <div class="container contentPage__ContentSection__content">
    <div class="contentPage__ContentSection__title">
      <p>{{.title}}</p>
    </div>
    <div class="contentPage__ContentSection__description">
      <div class="contentPage__ContentSection__description__left">
        {{with .leftcolumn}}
          {{. | markdownify}}
        {{end}}
      </div>
      <div class="contentPage__ContentSection__description__right">
        {{with .rightcolumn}}
          {{. | markdownify}}
        {{end}}
      </div>
    </div>
  </div>
</div>
