<div class="container contentPage__ContentSection hideLogoOnThisSection
   contentPage__ContentSection--brownFont" id="the-vibe"
  style="background-color: #f8f1de">
  <div class="contentPage__ContentSection__pattern contentPage__ContentSection__pattern--top"
    style="background-image: url('/images-theme/content-top-pattern.png')"></div>
  <div class="contentPage__ContentSection__pattern contentPage__ContentSection__pattern--bottom"
    style="background-image: url('/images-theme/content-bottom-pattern.png')"></div>
  <div class="contentPage__ContentSection__content">
    <div class="contentPage__ContentSection__title">
      <p>Wonderful outdoor weddings</p>
    </div>
    <div class="contentPage__ContentSection__description">
      <p>There’s no one-size-fits all approach to a romantic gathering that’s
        all about you. Away from the distractions and stresses of a hotel and the
        formalities of a stately home, outdoor wedding venues allow
        you free reign to design a ceremony that really means something to you and your partner. </p>
      <p>With plenty of fresh air and open space, your party can experience
        something unique, with no interruptions.</p>
      <p>You’ll receive a helping hand from the team at Hush in the run up to
        the big weekend, so that you always feel supported, but the freedom is
        yours to plan every detail exactly as you want it.</p>
    </div>
  </div>
</div>
