{{$siteTestimonials := .Site.Params.testimonials}}
<div class="container--fluid testimonials  testimonials--contentPage
  {{if $siteTestimonials.settings.visualpreferences}}{{range $siteTestimonials.settings.visualpreferences}}{{.class}} {{end}}{{end}}"
  id="testimonials--contentPage"
  {{if $siteTestimonials.settings.backgroundcolor}}
    style="background-color: {{$siteTestimonials.settings.backgroundcolor.hex}}"
  {{end}}>
    <div class="homePageContentSection__title hidden--lg">
      <img src="/images-theme/sidebar-menu-logo.svg" alt="">
    </div>
    <div class="testimonials__list" id="testimonialSlider"
      data-speed="{{$siteTestimonials.settings.sliderspeed}}">
      {{with $siteTestimonials.list}}
        {{range .}}
          <div class="testimonials__item hreview">
            <div class="testimonials__item__text e-content description">
              {{.text | markdownify}}
            </div>
            <div class="testimonials__item__author">
              <p class="reviewer vcard">{{.title}}</p>
            </div>
          </div>
        {{end}}
      {{end}}
  </div>
</div>
