{{$siteMenu := .Site.Params.siteMenu}}
<div class="container siteHeader">
  <div class="siteHeader__logo">
    <a href="/">
      <img src="/images-theme/logo.svg" alt="Hush">
      <img src="/images-theme/logo-dark.svg" alt="Hush" class="dark">
      <img src="/images-theme/logo-white.svg" alt="Hush" class="white">
    </a>
  </div>
  <div class="siteHeader__burgerMenu">
    <div class="siteHeader__burgerMenu__button">
      <i>{{$siteMenu.stringmenu}}</i>
      <a href="/">Home</a><span class="siteHeader__burgerMenu__burger">
        <div class="stick stick-1"></div>
        <div class="stick stick-2"></div>
        <div class="stick stick-3"></div>
      </span>
    </div>
  </div>
</div>
{{partial "modules/site_header/sidebar_menu" .}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
