{{$siteMenu := .Site.Params.siteMenu}}
<div class="siteSidebarMenu">
  <div class="siteSidebarMenu__inner">
    {{range $siteMenu.menugroup}}
      <ul>
        <span>{{.grouptitle}}</span>
        {{if .link}}
          {{range .link}}
            <li><a href="{{.url}}" class="{{with .additionalclasse}}{{.}}{{end}}">{{.title}}</a></li>
          {{end}}
        {{end}}
        {{if .selectfrompages}}
          {{range .selectfrompages}}
            <li><a href="{{.url}}" class="{{with .additionalclasse}}{{.}}{{end}}">{{.title}}</a></li>
          {{end}}
        {{end}}
      </ul>
    {{end}}
    <a href="/" class="siteSidebarMenu__innerLogo">
      <img src="/images-theme/sidebar-menu-logo.svg?auto=compress" alt="">
    </a>
  </div>
</div>
