{{$headerSection := .Params.homepageheadersection}}
<div class="section active {{with $headerSection.visualpreferences}}{{range .}}{{.class}} {{end}}{{end}}" id="home">
  <div class="container--fluid homeHeader active">
    {{with $headerSection.backgroundimagemobile}}
      <style>
        .homeHeader {
          background-image: url('{{.url}}{{if .alt}}{{.alt}}{{else}}?auto=compress{{end}}');
        }
      </style>
    {{end}}
    {{with $headerSection.backgroundimagedesktop}}
      <style>
        @media screen and (min-width : 640px) {
          .homeHeader {
            background-image: url('{{.url}}{{if .alt}}{{.alt}}{{else}}?auto=compress{{end}}');
          }
        }
      </style>
    {{end}}
    <div class="homeHeader__description">
      <a href="/" class="siteLogo">
        {{partial "modules/home_page/header_section/logo"}}
      </a>
      <a href="/" class="siteLogo--mask pinHeader"><img src="/images-theme/logo.svg" alt=""></a>
      {{with $headerSection.tagline}}
        <h1 class="homeHeader__title">{{.}}</h1>
      {{end}}
    </div>
    <div class="homeHeader__cta">
      {{with $headerSection.enquirebuttontext}}
        <a href="#homePageHeader" class="button {{with $headerSection.visualpreferences}}{{range .}}{{.class}} {{end}}{{end}}">{{.}}</a>
      {{end}}
      {{with $headerSection.nextSectionId}}
        <div class="container--fluid">
          <div data-href="#{{.}}" class="button scrollToAnchor buttonToAnchor"
            onclick="scrollToNext(2)">
              <img src="/images-theme/scrollToNext.svg" alt="">
          </div>
        </div>
      {{end}}
    </div>
  </div>
</div>
